/* LAYOUT */
.header {
    width: 1103.41px;
    height: 29.46px;
    flex-shrink: 0;
}

.container {
    display: flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    flex-shrink: 0;
    color: #FFFF;
    flex-wrap: wrap;

}

.header-logo {
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
}

.links-menu {
    font-family: MyFonts;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: flex-end;
}

@font-face {
    font-family: MyFonts;
    src: url(C:\Users\Admin\Downloads);
}

.main-section {
    width: 1440px;
    height: 1093px;
    flex-shrink: 0;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;

}

.blocks-block {
    width: 1009px;
    height: 237px;
    flex-shrink: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.block-1 {
    width: 150x;
    height: 237px;
    flex-shrink: 0;
    align-content: space-around;
}

 .block-1-tittle {
    text-align: center;
    color: #FFF;
    /* fonts family here */
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    align-content: space-around;
}

.block-1 .P {
    color: #FFF;
    text-align: center;
    /* font family here */
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    align-content: space-around;
}

.banner-tittle .h1 {
    color: #FFF;
    text-align: center;
    /* font style here */
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-content: space-around;
    flex-direction: row;

}

.button {
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #c271FF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0, 50);
    text-align: center;
}

.button P {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.blocksTittle {
    color: #c271FF;
    text-align: center;
    /* fonts family */
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.Three-word-block {
    color: #FFF;
    text-align: center;
    /* font family */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.qoute-block {
    width: 1440px;
    height: 392px;
    flex-shrink: 0;
  
    
    
}

.inner-qoute-block {
    width: 943px;
    height: 160px;
    flex-shrink: 0;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
}

.qoute-text q {
     color: #FFF;
     /* font family */
     font-size: 22px;
     font-style: normal;
     font-weight: 400;
     line-height: 33.6x;
}

.qoute-author{
    color: #FFF;
    /*font family here */
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
}

.qouter p {
    color: #FFF;
    /* font family here */
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;

}
 body {
    background-color: #071629;
 }

 .video-block {
    width: 144.15px;
    height: 1055px;
    flex-shrink: 0;
 }

 .videoBlock-tittle {
    color: #071629;
    text-align: center;
    /* family fonts here */
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

 }
