body {
    display: flex;
}

main {
    display: flex;
}

body, header{
    flex-direction: column;
}

body, main{
    flex-direction: column;
}

body, footer{
    flex-direction: column;
}


article{
    flex-direction: row;
    flex: auto;
    flex: 2;
    overflow-y: auto;
}

aside{
    flex-direction: row;
    flex: auto;
    flex: 1;
    overflow-y: auto;
}

